.menuSide-container{
    
}

.menu-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.menu-item .menu-title{
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: #ddd;
    /* color: #3c4c6a; */
}

.menu-item .list-item{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
}
.menu-item .list-item:hover{
    background-color: #384256;
    border-radius: 4px;
}

.menu-item .list-item .list-item-title{
    letter-spacing: 1px;
}