.home-container {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(148px, auto);
}

.box {
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid #384256;
}

.box1,
.box4 {
    grid-column: span 1;
    grid-row: span 3;
}

.box7 {
    grid-column: span 2;
    grid-row: span 2;
}

/* First-Box */
.First-Box {}

.First-Box h2 {
    margin-bottom: 20px;
    letter-spacing: 0.8px;
}

.top-users-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.top-users-list .topUser-item {
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topUser-info-sec {
    display: flex;
    align-items: center;
    gap: 8px;
}

.topUser-info-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.topUser-text {}

.topUser-text p {
    font-size: 15px;
    font-weight: 500;
}

.topUser-text span {
    font-size: 11px;
}

.topUser-amount-sec {
    font-weight: 500;
}

/* ///////////////////////////////////////////////// */
/* linear-gradient(120deg, #F58529, #DD2A7B, #8134AF , #515BD4) */
.icon-linear-gradient{
    font-size: 20px; /* Adjust font size */
    height: 22px;
    background: linear-gradient(120deg, #F58529, #DD2A7B, #8134AF); /* Gradient colors */
    -webkit-mask-image: linear-gradient(120deg, #F58529, #DD2A7B, #8134AF); /* Apply gradient as mask */
    mask-image: linear-gradient(120deg, #F58529, #DD2A7B, #8134AF); /* Apply gradient as mask */
    color: transparent; /* Make sure the default color is transparent */
    -webkit-mask-composite: source-in; /* For Safari support */
    mask-composite: intersect;
}
/* Second-Box */
.Second-Box ,.Third-Box ,.Fifth-Box ,.Sixth-Box{
    display: flex;
    height: 100%;
    gap: 4px;
    justify-content: space-between;
}

.box-info-section {
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
    justify-content: space-between;
    flex: 3;
}

.box-info-section .top-boxs-section {
    display: flex;
    gap: 6px;
    align-items: center;
}


.box-chart-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chart-contain {
    width: 100%;
    height: 100%;
}
.chart-text-contain{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.percentage{
    font-weight: 700;
    font-size: 20px;
}
.duration{
    text-transform: capitalize;
    font-size: 15px;
}

/* Third-Box */
.Third-Box {}

/* Fifth-Box */
.Fifth-Box {}

/* Sixth-Box */
.Sixth-Box {}

.Eighth-Box ,.Ninth-Box{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.box-bar-chart{
    width: 100%;
    height: 100%;
}